{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Curso de Node</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ducimus, placeat sunt alias eos sint amet obcaecati pariatur quis corrupti distinctio assumenda, laborum quia maxime! Aut, dolore ut. Cum, soluta.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/node.png" class="img-thumbnail">
    </div>

</div>



{{> footer}}